# Module 5: Basic Statistics

- count
- sum
- average
- std
- mode
- median

In [36]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'alice'  : [100, 97, 92, 97, 85],
                   'bob'    : [93, 62, 74, 81, 59 ],
                   'charlie': [81, 84, 84, 84, 85 ]})

df

   alice  bob  charlie
0    100   93       81
1     97   62       84
2     92   74       84
3     97   81       84
4     85   59       85

In [35]:
print("count:        ",df['alice'].count())
print("sum:          ",df['alice'].sum())

print("mean:         ",df['alice'].mean())    # mean and average are the same thing
print("median:       ",df['alice'].median())
print("mode:         ",df['alice'].mode())

count:         5
sum:           471
mean:          94.2
median:        97.0
mode:          0    97
dtype: int64

In [34]:
print("standard dev of alice:   ",df['alice'].std())
print("standard dev of bob:     ",df['bob'].std())
print("standard dev of charlie: ",df['charlie'].std())

standard dev of alice:    5.890670590009257
standard dev of bob:      13.9534941860453
standard dev of charlie:  1.51657508881031

In [15]:
df.describe()

            alice        bob
count    5.000000   5.000000
mean    94.200000  73.800000
std      5.890671  13.953494
min     85.000000  59.000000
25%     92.000000  62.000000
50%     97.000000  74.000000
75%     97.000000  81.000000
max    100.000000  93.000000

In [39]:
df.apply(np.mean)

alice      94.2
bob        73.8
charlie    83.6
dtype: float64

In [38]:
df.apply(np.mean,axis=1)

0    91.333333
1    81.000000
2    83.333333
3    87.333333
4    76.333333
dtype: float64

In [40]:

df['alice'].value_counts()

97     2
92     1
85     1
100    1
Name: alice, dtype: int64

In [44]:
df['alice'].value_counts()

97     2
92     1
85     1
100    1
Name: alice, dtype: int64